@import "tailwindcss";

:root {
    --background: #F8FAFC;
    --foreground: #1e293b;
}

body {
    color: var(--foreground);
    background: var(--background);
    font-family: Arial, Helvetica, sans-serif;
}